products{
    font-size: 80%;
    margin: 0.5em;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}
product{
    display: block;
    border: 1px solid silver;
    margin: 0.5em;
    padding: 0.5em;
}
name, price, review{
 display: block;
}
name{
    color: red;
    text-decoration: underline;
}
price{
    color: green;
}
review{
    color: greenyellow;
}
product.special{
    background-color: mistyrose;
}
product[class=special]{
    background-color: mistyrose;
}